{% extends "base.html.j2" %}
{% block title %}Add a new recipe{% endblock %}
{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block flash %}
  {{ super() }}
{% endblock %}
{% block body %}
  <h1>Add a new recipe</h1>
  <form action="/add_recipe" method="post">
    <p>
      <label for="name">Name of recipe:</label> <br />
      <textarea id="name" name="name" rows="1" cols="10" maxlength="100" required>{{ name }}</textarea>
    </p>
    <p>
      <label for="content">Instructions:</label> <br />
      <textarea id="content" name="content" rows="10" cols="100" maxlength="5000">{{ content }}</textarea>
    </p>
    <input type="submit" value="Add recipe" />
  </form>
{% endblock %}