<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Recipes</title>
    {% endblock %}
  </head>
  <body>
    {% block menu %}
      <a href="/">Main page</a> |
      <a href="/search">Search recipes</a> |
      {% if session.user_id %}
        <a href="/add_recipe">Add recipe</a> |
        <a href="/logout">Sign out</a>
      {% else %}
      <a href="/register">Register</a> |
        <a href="/login">Sign in</a>
      {% endif %}
    {% endblock %}
    {% block flash %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <p><b>{{ message }}</b></p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    {% endblock %}
    {% block body %}
    {% endblock %}
  </body>
</html>