<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Recipes</title>
    {% endblock %}
  </head>
  <body>
    {% block menu %}
      <a href="/">Main page</a> |
      <a href="/search">Search recipes</a> |
      {% if session.user_id %}
        <a href="/add_recipe">Add recipe</a> |
        <a href="/logout">Sign out</a>
        <p>Hello, {{ session.username }} </p>
      {% else %}
      <a href="/register">Register</a> |
        <a href="/login">Sign in</a>
      {% endif %}
    {% endblock %}
    {% block body %}
    {% endblock %}
  </body>
</html>