<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Recipes</title>
    {% endblock %}
  </head>
  <body>
    {% block menu %}
      <a href="/">Main page</a> |
      <a href="/search">Search recipes</a> |
      {% if session.user_id %}
        <a href="/add_recipe">Add recipe</a> |
        <a href="/user/{{ session.username }}">My profile</a> |
        <a href="/logout">Sign out</a>
      {% else %}
      <a href="/register">Register</a> |
        <a href="/login">Sign in</a>
      {% endif %}
    {% endblock %}
    {% block flash %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <p><b>{{ message }}</b></p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    {% endblock %}
    {% block body %}
      {% block list_recipes %}
        {% for recipe in recipes %}
          <p>
            <a href="/recipe/{{ recipe.id }}">{{ recipe.name }}</a>
            {% if recipe.tags %}
              <br />
              Tags: {{ recipe.tags }}
            {% endif %}
            {% if recipe.average_rating %}
              <br />
              Average rating: {{ '%.2f' | format(recipe.average_rating) }} (based on {{ recipe.review_count }} reviews)
            {% else %}
              <br />
              No reviews yet.
            {% endif %}
            <br />
            Added by <a href="/user/{{ recipe.username }}">{{ recipe.username }}</a> at {{ recipe.created }}
            {% if recipe.modified %}
              (Updated at {{ recipe.modified }})
            {% endif %}
            <br />
          </p>
          <hr />
        {% endfor %}
      {% endblock %}
    {% endblock %}
  </body>
</html>