{% extends "base.html.j2" %}
{% block title %}Tunnus luotu{% endblock %}
{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}
{% block body %}
    Tunnus luotu.
    <p>
      <a href="/">Palaa pääsivulle</a>
    </p>
{% endblock %}