{% extends "base.html.j2" %}
{% block title %}Account created{% endblock %}
{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block body %}
  <h1>Success!</h1>
  Account created.
{% endblock %}