{% extends "base.html.j2" %}
{% block title %}Main page{% endblock %}
{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block flash %}
  {{ super() }}
{% endblock %}
{% block body %}
  <h1>Recipes</h1>
  {% if recipes %}
    {% for recipe in recipes %}
      <p>
        {% block list_display_recipe scoped %}
          {{ super() }}
        {% endblock %}
        <br />
      </p>
      <hr />
    {% endfor %}
  {% else %}
    No recipes found.
  {% endif %}
{% endblock %}