{% extends "base.html.j2" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block body %}
  <h1>Recipes</h1>
{% endblock %}