{% extends "base.html.j2" %}
{% block title %}Main page{% endblock %}
{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block flash %}
  {{ super() }}
{% endblock %}
{% block body %}
  <h1>Recipes</h1>
  {% if recipes %}
    {% for recipe in recipes %}
      <p>
        <a href="/recipe/{{ recipe.id }}">{{ recipe.name }}</a>
        <br />
        Added by {{ recipe.username }} at {{ recipe.created }}
        <br />
      </p>
      <hr />
    {% endfor %}
  {% else %}
    No recipes found.
  {% endif %}
{% endblock %}