{% extends "base.html.j2" %}
{% block title %}Sign in{% endblock %}
{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block flash %}
  {{ super() }}
{% endblock %}
{% block body %}
  <h1>Sign in</h1>
  <form action="/login" method="post">
    <p>
      <label for="username">User name:</label> <br />
      <input type="text" id="username" name="username" />
    </p>
    <p>
      <label for="password">Password:</label> <br />
      <input type="password" id="password" name="password" />
    </p>
    {% if next_page %}
      <input type="hidden" name="next_page" value="{{ next_page }}" />
    {% else %}
      <input type="hidden" name="next_page" value="/" />
    {% endif %}
    <input type="submit" value="Login" />
  </form>
{% endblock %}