{% extends "base.html.j2" %}
{% block title %}Recipes{% endblock %}
{% block head %}
  {{ super() }}
    <style>
    </style>
  {% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block flash %}
  {{ super() }}
{% endblock %}
{% block body %}
  <h2>{{ recipe.name }}</h2>
  <p>
    Added by {{ recipe.username }} at {{ recipe.created }}
  </p>
  <p>
    Instructions:
  </p>
  <p>
    {{ recipe.content }}
  </p>
  <p>
    <a href="/edit/{{ recipe.id }}">Edit</a>
    <a href="/remove/{{ recipe.id }}">Remove</a>
  </p>
{% endblock %}