{% extends "base.html.j2" %}
{% block title %}Search recipes{% endblock %}
{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block flash %}
  {{ super() }}
{% endblock %}
{% block body %}
  <h1>Search recipes</h1>
  <form action="/search" method="get">
    <p>
      <label for="query">Search by recipe name</label>:
      {% if query %}
        <input type="text" id="query" name="query" value="{{ query }}" />
      {% else %}
        <input type="text" id="query" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Search" />
  </form>

  {% if query %}
    <h2>Search results</h2>
    {% if not results %}
      <p>No recipes found matching the search query.</p>
    {% else %}
      <ul>
        {% for result in results %}
          <li>
            <a href="/recipe/{{ result.id }}">{{ result.name }}</a>
            <br />
            Added by <a href="/user/{{ result.username }}">{{ result.username }}</a> at {{ result.created }}
            {% if result.modified %}
              (Updated at {{ result.modified }})
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}
{% endblock %}