{% extends "base.html.j2" %}
{% block title %}Search recipes{% endblock %}
{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block flash %}
  {{ super() }}
{% endblock %}
{% block body %}
  <h1>Search recipes</h1>
  <form action="/search" method="get">
    <p>
      <label for="query">Search in recipe name and content</label>:
      {% if query %}
        <input type="text" id="query" name="query" value="{{ query }}" />
      {% else %}
        <input type="text" id="query" name="query" />
      {% endif %}
    </p>
    <p>
      <label for="tags">Filter by tags (when selecting multiple tags, any will match):</label>
      {% for tag in all_tags %}
        <input type="checkbox" name="tags" value="{{ tag.name }}" {% if tag.name in request.args.getlist('tags') %}checked{% endif %}>{{ tag.name }}
      {% endfor %}
    </p>
    <input type="submit" value="Search" />
  </form>

  {% if query or request.args.getlist('tags') %}
    <h2>Search results</h2>
    {% if not recipes %}
      <p>No recipes found matching the search query.</p>
    {% else %}
      {% block list_recipes scoped %}
        {{ super() }}
      {% endblock %}
      <p>
        {% if page > 1 %}
          <a href="/search/{{ page - 1 }}?query={{ query }}">&lt; Previous</a>
        {% endif %}
        Page {{ page }} of {{ page_count }}
        {% if page < page_count %}
          <a href="/search/{{ page + 1 }}?query={{ query }}">Next &gt;</a>
        {% endif %}
      </p>
    {% endif %}
  {% endif %}
{% endblock %}