{% extends "base.html.j2" %}
{% block title %}User {{ username }}{% endblock %}
{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block flash %}
  {{ super() }}
{% endblock %}
{% block body %}
  <h1>User {{ username }}</h1>

  {% if recipes | count == 0 %}
    {% if username == session.username %}
      <p>You have not added any recipes yet.</p>
    {% else %}
      <p>This user has not added any recipes yet.</p>
    {% endif %}
  {% else %}
    {% if username == session.username %}
      <h2>Recipes added by you</h2>
    {% else %}
      <h2>Recipes added by {{ username }}</h2>
    {% endif %}
    <p>
      A total of {{ recipe_count }} recipes. 
    </p>
    {% block list_recipes scoped %}
      {{ super() }}
    {% endblock %}
    <div class="pagination">
    <p>
      {% if page > 1 %}
        <a href="/user/{{ username }}/{{ page - 1 }}">&lt; Previous</a>
      {% endif %}
      Page {{ page }} of {{ page_count }}
      {% if page < page_count %}
        <a href="/user/{{ username }}/{{ page + 1 }}">Next &gt;</a>
      {% endif %}
    </p>
    </div>
  {% endif %}
{% endblock %}