{% extends "base.html.j2" %}
{% block title %}User {{ username }}{% endblock %}
{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block flash %}
  {{ super() }}
{% endblock %}
{% block body %}
  <h1>User {{ username }}</h1>

  {% if recipes | count == 0 %}
    <p>This user has not added any recipes yet.</p>
  {% else %}
    <h2>Recipes added by {{ username }}</h2>
    <ul>
      {% for recipe in recipes %}
        <li>
          {% block list_display_recipe scoped %}
            {{ super() }}
          {% endblock %}
        </li>
      {% endfor %}
    </ul>
    <p>
      A total of {{ recipes | count }} recipes.
    </p>
  {% endif %}
{% endblock %}